<div class='container'>
    <div>
        <input (keyup)='onSearchKey($event)' class='filter' placeholder='Search Messages'>
        <input (keyup)='onSenderKey($event)' class='filter' placeholder='Search Senders'>
    </div>
    <div class='chat-container'>
        <div #messagesContainer class='messages-container'>
            <div *ngFor='let message of messages'
                [ngClass]="{'my-message': message.sender == sender, 'other-message': message.sender != sender}">
                <div>
                    <div class='sender'>
                        {{message.sender}}:
                    </div>
                    {{message.message}}
                </div>
                <mat-icon (click)='onDelete(message._id)' class='icon' *ngIf='message.sender == sender'>delete
                </mat-icon>
            </div>
        </div>


        <input (keyup)='onMessageKey($event)' class='input'>
    </div>
</div>