.container {
  margin: 0;
  width: 100%;
  height: 92vh;
  background: #cccccc;
  max-width: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.chat-container {
  display: flex;
  margin-top: 24px;
  border-color: rgb(153, 153, 153);
  border-width: 2px;
  width: 80%;
  height: 80%;
  border-style: solid;
  border-radius: 5px;
  flex-direction: column;
}

.input {
  width: 100%;
  height: 42px;
  margin-top: auto;
  flex-shrink: 0;
}

.my-message {
  background-color: rgb(73, 73, 180);
  align-self: flex-end;
  color: white;
  padding: 12px;
  border-radius: 5px;
  margin: 8px;
  width: 40%;
  display: flex;
}

.other-message {
  background-color: rgb(235, 235, 252);
  padding: 12px;
  border-radius: 5px;
  margin: 8px;
  width: auto;
  width: 40%;
  display: flex;
}

.messages-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.icon {
  margin-left: auto;
  cursor: pointer;
}

.filter {
  width: 12vw;
  height: 4vh;
  padding: 4px;
  border-radius: 2px;
  border-width: 1px;
  outline: none;
  border-style: solid;
  margin: 4px;
}

.sender {
  font-weight: bold;
}
