<div class='ng-container'>
    <search class='search'></search>
    <div class='filters'>
        <venue-type-filter class='select-filter'></venue-type-filter>
        <venue-rate-filter class='select-filter'></venue-rate-filter>
        <add-venue class='add-button'></add-venue>
    </div>
</div>