.ng-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search {
  width: 100%;
}

.filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-filter {
  margin: 8px;
}

.add-button {
  margin-left: auto;
  text-decoration: underline;
  color: #00465e;
  text-decoration-color: rgba(0, 70, 94, 0.3);
  cursor: pointer;
}
