.search-bar {
  width: 100%;
  height: 4vh;
  border-radius: 100px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 120;
  padding: 24px;
  box-sizing: border-box;
  border-color: #c2c2c2;
  border-style: solid;
}
