<div class='container'>
    <h1 class='header'>
        Add Venue
    </h1>

    <div class='input-container'>
        <h5 class='input-title'>Name</h5>
        <input #name class='input'>
    </div>

    <div class='input-container'>
        <h5 class='input-title'>Type</h5>
        <select #type class='input'>
            <option *ngFor="let type of venuesTypes" [value]="type._id">{{type.name}}</option>
        </select>
    </div>

    <div class='input-container'>
        <h5 class='input-title'>Rating</h5>
        <select #rating class='input'>
            <option *ngFor="let rate of ratings" [value]="rate">{{rate}}</option>
        </select>
    </div>

    <div class='input-container'>
        <h5 class='input-title'>Address</h5>
        <input #address class='input'>
    </div>

    <button (click)='onAdd()' class='input submit'>
        Submit
    </button>
</div>