.ng-container {
  display: flex;
  height: 92vh;
}

.panel {
  width: 33vw;
  background: #cccccc;
  overflow-y: scroll;
}

.map-ng-container {
  flex-grow: 1;
  height: 100%;
}

.filter {
  margin: 8px;
}

.venues-filter {
  width: 100%;;
}