<div class='ng-container'>
    <div class='panel'>
        <div class='filter'>
            <venues-filter class='venues-filter'></venues-filter>
        </div>
        <div>
            <venue *ngFor="let venue of venues" [venue]='venue'>
            </venue>
        </div>
    </div>
    <div #map class='map-ng-container'>
    </div>
</div>