.container {
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.header {
    align-self: center;
}

.input-container {
    margin-top: 12px;
}

.input-title {
    margin-bottom: 4px;
}

.input {
    border-radius: 5px;
    outline: none;
    padding: 4px;
    border-style: solid;
    width: 100%;
    border-width: 1px;
}

.submit {
    margin-top: auto;
}