.ng-container {
  background-color: #00a1d6;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  padding: 8px;
  margin: 4px;
  border-radius: 100px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.active {
    background-color: #0073997e;    
}
