<div class='ng-container'>
    <a 
        class='link' 
        routerLink="/venues" 
        routerLinkActive="active">
        Venues
    </a>
    <a 
        class='link' 
        routerLink="/chat" 
        routerLinkActive="active">
        Chat
    </a>
    <a 
        class='link' 
        routerLink="/statistics" 
        routerLinkActive="active">
        Statistics
    </a>
</div>