.ng-container {
  background-color: white;
  border-radius: 4px;
  margin: 8px;
  padding: 24px 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  display: flex;
  /* border-color: #b3e4f5;
    border-style: solid;
    border-width: 2px; */
  width: 96%;
}

.attributes-container {
  width: 100%;
}
.logo {
  width: 4.5vw;
  border-radius: 50%;
  margin: 0 16px;
}

.address {
  font-size: 12px;
}

.rating {
  margin-top: 12px;
  font-size: 14px;
}

.header-container {
  display: flex;
}

.delete {
  color: rgb(97, 97, 97);
  margin-left: auto;
  margin-right: 12px;
  cursor: pointer;
  font-weight: 6px;
}

.edit {
  margin-right: 12px;
  color: rgb(97, 97, 97);
  cursor: pointer;
  font-weight: 6px;
}

