<div class='ng-container'>
    <div>
        <img class='logo' src='assets/hard-rock.jpg'>
    </div>
    <div class='attributes-container'>
        <div class='header-container'>
            <h3>{{venue.name}}</h3>
            <mat-icon (click)="onDelete()" class='delete'>delete</mat-icon>
            <mat-icon (click)='onUpdate()' class='edit'>edit</mat-icon>
        </div>
        <p>{{venue.type.name}}</p>
        <p class='rating'>Rating - {{venue.rating}}</p>
        <p class='address'>{{venue.address}}</p>
    </div>
</div>